<table class="table text-center table-sm">
    <thead class="thead-dark">
        <tr>
            <th colspan="4">Zestawienie akcji</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Akcje podstawowe</th>
            <th>Typ</th>
            <th>Akcje złożone</th>
            <th>Typ</th>
        </tr>
        <tr>
            <th>Atak wielokrotny</th>
            <td>Akcja podwójna</td>
            <th>Bieg</th>
            <td>Akcja podwójna</td>
        </tr>
        <tr>
            <th>Odwrót</th>
            <td>Akcja podwójna</td>
            <th>Finta</th>
            <td>Akcja</td>
        </tr>
        <tr>
            <th>Przeładowanie</th>
            <td>Różnie</td>
            <th>Odepchnięcie</th>
            <td>Akcja</td>
        </tr>
        <tr>
            <th>Ruch</th>
            <td>Akcja</td>
            <th>Opóźnienie</th>
            <td>Akcja</td>
        </tr>
        <tr>
            <th>Rzucanie zaklęcia</th>
            <td>Różnie</td>
            <th>Ostrożny atak</th>
            <td>Akcja podwójna</td>
        </tr>
        <tr>
            <th>Szarża</th>
            <td>Akcja podwójna</td>
            <th>Parowanie</th>
            <td>Akcja</td>
        </tr>
        <tr>
            <th>Użycie przedmiotu</th>
            <td>Akcja</td>
            <th>Pozycja obronna</th>
            <td>Akcja podwójna</td>
        </tr>
        <tr>
            <th>Wstawanie/<br>Dosiadanie wierzchowca</th>
            <td>Akcja</td>
            <th>Skok</th>
            <td>Akcja podwójna</td>
        </tr>
        <tr>
            <th>Wycelowanie</th>
            <td>Akcja</td>
            <th>Szaleńczy atak</th>
            <td>Akcja podwójna</td>
        </tr>
        <tr>
            <th>Wykorzystanie umiejętności</th>
            <td>Różnie</td>
        </tr>
        <tr>
            <th>Zwykły atak</th>
            <td>Akcja</td>
        </tr>

    </tbody>
</table>
