<div class="container bohater">
    <div class="row">
        <div class="col-12 col-lg-6 my-1">
            <app-bohater-bohater></app-bohater-bohater>
            <app-bohater-opis-bohatera></app-bohater-opis-bohatera>
            <app-bohater-cechy></app-bohater-cechy>
            <app-bohater-bron></app-bohater-bron>
            <app-bohater-pancerz></app-bohater-pancerz>
        </div>
        <div class="col-12 col-lg-6 my-1">
            <app-bohater-gracz></app-bohater-gracz>
            <app-bohater-punkty-doswiadczenia></app-bohater-punkty-doswiadczenia>
            <app-bohater-ruch-w-walce></app-bohater-ruch-w-walce>
            <app-bohater-punkty-zbroi></app-bohater-punkty-zbroi>
            <app-bohater-zestawienie-akcji></app-bohater-zestawienie-akcji>
        </div>
    </div>
</div>
<div class="container bohater">
    <div class="row">
        <div class="col-12 col-lg-6 my-1">
            <app-bohater-umiejetnosci></app-bohater-umiejetnosci>
        </div>
        <div class="col-12 col-lg-6 my-1">
            <app-bohater-zdolnosci></app-bohater-zdolnosci>
            <app-bohater-wyposarzenie></app-bohater-wyposarzenie>
            <app-bohater-pieniadze></app-bohater-pieniadze>
        </div>
    </div>
</div>