<div class="container bohater">
    <div class="row">

        <div class="col-12 col-lg-6 my-1">
            <app-import-export></app-import-export>


        </div>
    </div>
    <div class="row">


        <div class="col-12 col-lg-6 my-1">
            <app-bohater-bohater></app-bohater-bohater>

            <app-bohater-cechy></app-bohater-cechy>
        </div>
        <div class="col-12 col-lg-6 my-1">
            <app-bohater-punkty-doswiadczenia></app-bohater-punkty-doswiadczenia>
            <app-bohater-umiejetnosci></app-bohater-umiejetnosci>
            <app-bohater-zdolnosci></app-bohater-zdolnosci>


        </div>
    </div>
</div>
<div class="container bohater">
    <div>

    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-1">


        </div>
        <div class="col-12 col-lg-6 my-1">

        </div>
    </div>
</div>