<div class="container bohater">
    <div class="row">

        <div class="col-12 col-lg-6 my-1">
            <app-import-export></app-import-export>
        </div>
        <div class="col-12 col-lg-6 my-1">
            <!--  <app-chat></app-chat>-->
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-1">
            <div class="my-1">
                <app-bohater-bohater></app-bohater-bohater>
            </div>
            <div class="my-1">
                <app-bohater-cechy></app-bohater-cechy>
            </div>
            <div class="my-1">
                <app-bohater-wyposarzenie></app-bohater-wyposarzenie>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-1">
            <div class="my-1">
                <app-bohater-punkty-doswiadczenia></app-bohater-punkty-doswiadczenia>
            </div>
            <div class="my-1">
                <app-bohater-umiejetnosci></app-bohater-umiejetnosci>
            </div>
            <div class="my-1">
                <app-bohater-zdolnosci></app-bohater-zdolnosci>
            </div>
        </div>
    </div>
</div>
<div class="container bohater">
    <div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-1">
        </div>
        <div class="col-12 col-lg-6 my-1">
        </div>
    </div>
</div>
<div id="footer">
    <app-footer-bohater></app-footer-bohater>
</div>
