<div class="container bohater text-center  p-0 m-0">
    <div class="p-1 title"><b>Punkty doświadczenia</b></div>

    <div class="cursorDefault">
        <div class="row ">
            <div class="col-sm-3 ml-1"><b>Ilość doświadczenia</b></div>
            <div class="col-sm ml-1"><b>{{doswiadczenie}}</b></div>
        </div>
    </div>
    <button class="btn btn-primary btn-sm m-1">Zwiększenie cechy głównej +5</button>
    <button class="btn btn-primary btn-sm m-1">Zwiększenie cechy drugorzędnej +1</button>
    <button class="btn btn-primary btn-sm m-1 disabled">Wykupienie zdolności</button>
    <button class="btn btn-primary btn-sm m-1 disabled">Wykupienie umiejętności</button>
    <button class="btn btn-primary btn-sm m-1 disabled">Specjalizacja w umiejętności +10</button>
    <button class="btn btn-primary btn-sm m-1 disabled">Wybór nowej profesji</button>
    <button class="btn btn-primary btn-sm m-1 disabled">Wybór nowe profesji podstawowej (nie wyjściowej)</button>
</div>