<table class=" table table-sm ">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="5" class="text-center">Umiejętności</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Podstawowe</th>
            <th>Wykupione</th>
            <th>+10</th>
            <th>+20</th>
            <th>Zdolności pokrewne</th>

        </tr>
        <tr>
            <td>Dowodzenie</td>
            <td>x</td>
            <td></td>
            <td>x</td>
            <td></td>
        </tr>
        <tr>
            <th>Zaawansowane</th>
            <th>Wykupione</th>
            <th>+10</th>
            <th>+20</th>
            <th>Zdolności pokrewne</th>

        </tr>
        <tr>
            <td>Aptekarstwo</td>
            <td>x</td>
            <td>x</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
