<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="7" class="text-center">Broń</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <th>Nazwa</th>
            <th>Obc.</th>
            <th>Kategoria</th>
            <th>Siła broni</th>
            <th>Zasięg</th>
            <th>Przeład.</th>
            <th>Cechy oręża</th>
        </tr>
        <tr>
            <td>Kosa</td>
            <td>5</td>
            <td>Sieczne</td>
            <td>5</td>
            <td>2</td>
            <td>-</td>
            <td>-</td>

        </tr>
    </tbody>
</table>
