<div class="container bohater text-center p-0 m-0" *ngIf="this.share.schematRozwojuProfesja.profesjatitle!==''">
    <mat-expansion-panel hideToggle>
        <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header>
            <mat-panel-title>
                Wyposażenie
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <!--Wyposazenie-->

        <div class="m-2 p-2 text-justify">
            <mat-form-field class=" p-1 m-2 full-width">
                <mat-label>Wyposażenie Bohatera</mat-label>
                <textarea matInput [(ngModel)]="this.share.schematRozwojuProfesja.wyposazenie"></textarea>
            </mat-form-field>
        </div>
    </mat-expansion-panel>

</div>
