<mat-card class="container">
    <div class="container text-center">

        <div class="">
            <h3>Zaloguj</h3>
            <div class="formGroup">
                <mat-form-field>
                    <mat-label>Login</mat-label>
                    <input matInput type="text" class="formControl" placeholder="Login" #userName required>
                </mat-form-field>
            </div>

            <div class="formGroup">
                <mat-form-field>
                    <mat-label>Hasło</mat-label>
                    <input matInput type="password" class="formControl" placeholder="Hasło" #userPassword required>
                </mat-form-field>
            </div>

            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
                <input type="button" class="btn btn-primary m-1" value="Zaloguj" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>

            <div class="formGroup">
                <span class="or"><span class="orInner">Lub</span></span>
            </div>

            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn btn-danger m-1" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Zaloguj z Google
        </button>
            </div>

            <div class="">
                <span routerLink="/forgot-password" class="btn btn-primary m-1">Zapomniałeś hasła?</span>
            </div>
        </div>

        <div class="">
            <span>Nie masz konta?<span class="btn btn-primary m-1" routerLink="/register-user"> Stwórz konto</span></span>
        </div>

    </div>
</mat-card>
