<table class=" table table-sm ">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="2" class="text-center">Bohater</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><label class="m-0 p-0" for="inputImie">Imię</label></th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th><label class="m-0 p-0" for="inputRasa">Rasa</label></th>
            <td>
                <div [hidden]="submittedRasa">
                    <ng-select [items]="rasa" bindLabel="title" bindValue="title" [(ngModel)]="selectedRasaId">
                    </ng-select>
                    <button (click)="nowaRasa()">Wybierz</button>
                </div>
                <div [hidden]="!submittedRasa">{{selectedRasaId}}

                </div>
        </tr>
        <tr>
            <th><label class="m-0 p-0" for="inputProfesja">Profesja</label></th>
            <td>
                <ng-select [items]="profesja" bindLabel="title" bindValue="title" [(ngModel)]="selectedProfesjaId">
                </ng-select>

        </tr>
        <tr>
            <th>Poprzednia profesja</th>
            <td>Brak</td>
        </tr>
    </tbody>
</table>