<div class="container bohater text-center p-0 m-0">

    <div class="p-1 title"><b>Bohater</b></div>

    <div class="">
        <div class="border-bottom border-dark"><label class="m-0 p-0" for="nameInput"><b>Imię Bohatera</b></label></div>
        <div>
            <div>
                <h2 class="" *ngIf="aktualne.imie!==''">{{aktualne.imie}}</h2>
                <div *ngIf="aktualne.imie===''">
                    <input type="text" id="imie" required [(ngModel)]="imieId" name="gdzie" placeholder="Imię">
                    <button class="btn btn-primary btn-sm m-1" (click)="noweImie()">Wybierz</button>
                </div>
                <button *ngIf="aktualne.imie!=='' && aktualne.importowane!==true" class="btn btn-danger btn-sm m-1" (click)="inneImie()">Zmień imię</button>
            </div>

        </div>
        <div>
            <div class="border-bottom border-dark"><label class="m-0 p-0" for="inputRasa"><b>Rasa</b></label></div>
            <div>
                <div *ngIf="aktualne.rasatitle===''">
                    <ng-select class="custom" [items]="cechy" bindLabel="rasatitle" bindValue="rasatitle" [(ngModel)]="selectedRasaId">
                    </ng-select>
                    <button class="btn btn-primary btn-sm m-1" (click)="nowaRasa()">Wybierz</button>
                </div>
                <div>
                    <h2 class="">{{aktualne.rasatitle}}</h2>
                    <button *ngIf="aktualne.rasatitle!=='' && aktualne.importowane!==true" class="btn btn-danger btn-sm m-1" (click)="innaRasa()">Zmień rasę</button>
                </div>
            </div>
        </div>
        <div *ngIf="aktualne.rasatitle!==''">
            <div class="border-bottom border-dark"><label class="m-0 p-0" for="inputProfesja"><b>Profesja</b></label></div>
            <div>
                <div *ngIf="aktualne.profesjatitle===''">
                    <ng-select class="custom" [items]="profesjaRoll" bindLabel="profesjatitle" bindValue="profesjatitle" [(ngModel)]="selectedProfesjaId">
                    </ng-select>
                    <button class="btn btn-primary btn-sm m-1" (click)="nowaProfesja()">Wybierz</button>
                </div>
                <div>
                    <h2>{{aktualne.profesjatitle}}</h2>
                    <button *ngIf="aktualne.profesjatitle!=='' && aktualne.importowane!==true" class="btn btn-danger btn-sm m-1" (click)="innaProfesja()">Zmień profesję</button>

                    <!--    <div *ngIf="aktualne.profesjatitle!==''" class="m-2 p-2 text-justify profesja-opis">
                        <div class="p-1 title text-center"><b>Opis profesji</b></div>
                        <p class=" p-1 m-2">{{umiejetnosciProfesji.opis}}</p>
                    </div>-->

                </div>

            </div>

        </div>
    </div>


</div>
