<div class="container bohater text-center p-0 m-0">

    <div class="colour2 p-1"><b>Bohater</b></div>

    <div class="">
        <div><label class="m-0 p-0" for="inputRasa"><b>Rasa</b></label></div>
        <div>
            <div [hidden]="submittedRasa">
                <ng-select [items]="cechy" bindLabel="rasatitle" bindValue="rasatitle" [(ngModel)]="selectedRasaId">
                </ng-select>
                <button class="btn btn-primary btn-sm m-1" (click)="nowaRasa()">Wybierz</button>
            </div>
            <div [hidden]="!submittedRasa">
                <h2>{{selectedRasaId}}</h2>
                <button class="btn btn-danger btn-sm m-1" (click)="innaRasa()">Zmień rasę</button>
            </div>
        </div>
        <div>
            <div><label class="m-0 p-0" for="inputProfesja"><b>Profesja</b></label></div>
            <div>
                <div [hidden]="submittedProfesja">
                    <ng-select [items]="profesjaRoll" bindLabel="profesjatitle" bindValue="profesjatitle" [(ngModel)]="selectedProfesjaId">
                    </ng-select>
                    <button class="btn btn-primary btn-sm m-1" (click)="nowaProfesja()">Wybierz</button>
                </div>
                <div [hidden]="!submittedProfesja">
                    <h2>{{selectedProfesjaId}}</h2>
                    <button class="btn btn-danger btn-sm m-1" (click)="innaProfesja()">Zmień profesję</button>

                    <div *ngIf="this.submittedProfesja=== true" class="m-2 p-2 text-justify">{{umiejetnosciProfesji.opis}}</div>

                </div>

            </div>

        </div>
    </div>


</div>