<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="4" class="text-center">Pancerz</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <th scope="col" colspan="4" class="text-center">Opancerzenie proste</th>

        </tr>
        <tr>
            <th>Typ pancerza</th>
            <td>ciężki</td>
            <th>Punkty zbroi</th>
            <td>10</td>
        </tr>
        <tr>
            <th colspan="4"> Opancerzenie złożone</th>
        </tr>
        <tr>
            <th>Typ pancerza</th>
            <th>Obc.</th>
            <th>Lokacja ciała</th>
            <th>PZ</th>
        </tr>
        <tr>
            <td>Zbroja płytowa</td>
            <td>25</td>
            <td>Korpus</td>
            <td>30</td>
        </tr>
    </tbody>
</table>
