<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item "><a class="nav-link" routerLink="import">Import Postaci</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="bohater">Bohater</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="dodawanie">Dodawanie</a></li>
            <li class="nav-item " *ngIf="authService.userData as user; else login"><a class="nav-link" routerLink="sign-in" (click)="authService.SignOut()">Wyloguj</a></li>
            <ng-template #login>
                <a class="nav-link" routerLink="sign-in">Zaloguj</a>
            </ng-template>
            <li class="nav-item "><a *ngIf="authService.userData as user" class="nav-link" routerLink="dashboard">{{user.email}}</a></li>

        </ul>
    </div>
</nav>
