<nav class="navbar  navbar-dark bg-primary navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation Button">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item "><a class="nav-link" routerLink="dodawanie">Dodawanie</a></li>

        </ul>
    </div>
</nav>