<footer class="footer ">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm ">
                <div class="text-light bg-dark ">
                    <p>{{rollNumber}}</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-secondary btn-sm mb-1" [disabled]="rollDisabled" (click)="randomNumber(1,10)">Rzut K10</button>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-secondary btn-sm mb-1 " [disabled]="rollDisabled" (click)="randomNumber(1,20)">Rzut K20</button>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-secondary btn-sm " [disabled]="rollDisabled" (click)="randomNumber(0,99)">Rzut K100</button>
            </div>
        </div>
    </div>
</footer>
