<div class="container text-center  p-0 m-0" style="cursor:default">
    <div class="colour2 p-1 text-center"><b>Cechy</b></div>

    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Cechy główne</div>
            <div placement="top" class="col-sm " ngbTooltip="Walka Wręcz">WW</div>
            <div placement="top" class="col-sm " ngbTooltip="Umiejętności Strzeleckie">US</div>
            <div placement="top" class="col-sm " ngbTooltip="Krzepa">K</div>
            <div placement="top" class="col-sm " ngbTooltip="Odporność">Odp</div>
            <div placement="top" class="col-sm " ngbTooltip="Zręczność">Zr</div>
            <div placement="top" class="col-sm " ngbTooltip="Inteligencja">Int</div>
            <div placement="top" class="col-sm " ngbTooltip="Siła Woli">SW</div>
            <div placement="top" class="col-sm " ngbTooltip="Ogłada">Ogd</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Początkowa</div>
            <div placement="top" class="col-sm ">{{poczatkowa.WW}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.US}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.K}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Odp}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Zr}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Int}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.SW}}</div>
            <div placement="top" class="col-sm">{{poczatkowa.Ogd}}</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Schemat Rozwoju</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.WW}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.US}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.K}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Odp}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Zr}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Int}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.SW}}</div>
            <div placement="top" class="col-sm">{{schematRozwoju.Ogd}}</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Aktualna</div>
            <div placement="top" class="col-sm ">{{aktualne.WW}}</div>
            <div placement="top" class="col-sm ">{{aktualne.US}}</div>
            <div placement="top" class="col-sm ">{{aktualne.K}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Odp}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Zr}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Int}}</div>
            <div placement="top" class="col-sm ">{{aktualne.SW}}</div>
            <div placement="top" class="col-sm">{{aktualne.Ogd}}</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Cechy drugorzędne</div>
            <div placement="top" class="col-sm " ngbTooltip="Ataki">A</div>
            <div placement="top" class="col-sm " ngbTooltip="Żywotność">Żyw</div>
            <div placement="top" class="col-sm " ngbTooltip="Siła">S</div>
            <div placement="top" class="col-sm " ngbTooltip="Wytrzymałość">Wt</div>
            <div placement="top" class="col-sm " ngbTooltip="Szybkość">Sz</div>
            <div placement="top" class="col-sm " ngbTooltip="Magia">Mag</div>
            <div placement="top" class="col-sm " ngbTooltip="Punkty Obłędu">PO</div>
            <div placement="top" class="col-sm " ngbTooltip="Punkty Przeznaczenia">PP</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Początkowa</div>
            <div placement="top" class="col-sm ">{{poczatkowa.A}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Zyw}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.S}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Wt}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Sz}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.Mag}}</div>
            <div placement="top" class="col-sm ">{{poczatkowa.PO}}</div>
            <div placement="top" class="col-sm">{{poczatkowa.PP}}</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Schemat Rozwoju</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.A}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Zyw}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.S}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Wt}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Sz}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.Mag}}</div>
            <div placement="top" class="col-sm ">{{schematRozwoju.PO}}</div>
            <div placement="top" class="col-sm">{{schematRozwoju.PP}}</div>
        </div>
    </div>
    <div class="border-bottom border-dark">
        <div class="row ">
            <div class="col-sm ml-1">Aktualna</div>
            <div placement="top" class="col-sm ">{{aktualne.A}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Zyw}}</div>
            <div placement="top" class="col-sm ">{{aktualne.S}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Wt}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Sz}}</div>
            <div placement="top" class="col-sm ">{{aktualne.Mag}}</div>
            <div placement="top" class="col-sm ">{{aktualne.PO}}</div>
            <div placement="top" class="col-sm">{{aktualne.PP}}</div>
        </div>
    </div>
</div>