<table class=" table table-sm ">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="4" class="text-center">Opis Bohatera</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Wiek</th>
            <td>35</td>
            <th>Płeć</th>
            <td>Mężczyzna</td>
        </tr>
        <tr>
            <th>Kolor oczu</th>
            <td>Niebieskie</td>
            <th>Waga</th>
            <td>85kg</td>
        </tr>
        <tr>
            <th>Kolor włosów</th>
            <td>Brązowe</td>
            <th>Wzrost</th>
            <td>180cm</td>
        </tr>
        <tr>
            <th>Znak gwiezdny</th>
            <td>Bębniarz</td>
            <th>Rodzeństwo</th>
            <td>2</td>
        </tr>
        <tr>
            <th>Miejsce urodzenia</th>
            <td colspan="3">Altdorf</td>

        </tr>
        <tr>
            <th>Znaki szczególne</th>
            <td colspan="3">Tatuaż na lewej nodze i pod okiem</td>

        </tr>
    </tbody>
</table>
