<mat-expansion-panel expanded="true" showToggle>
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
        <mat-panel-title>
            Tablica wyników
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
    </mat-expansion-panel-header>

    <p *ngIf="authService.isLoggedIn===false"><a routerLink="/sign-in">Zaloguj, aby zapisać wynik!</a></p>
    <div class=" text-center pick-one-title ">Tablica wyników</div>
    <div class="container bohater text-center p-0 m-0">
        <div class="row border-bottom ">

            <div class="col-1 ml-1">#</div>
            <div class="col-4 ml-1">Kto</div>
            <div class="col-1 ml-1">Czas</div>
            <div class="col ml-1">Kiedy</div>
        </div>


        <div class="row border-bottom" *ngFor="let score of score |slice: 0:20; index as i">
            <div class="col-1 ml-1">{{ i + 1 }}</div>
            <div class="col-4 ml-1">
                {{score.who}}
            </div>
            <div class="col-1 ml-1">
                {{score.czas|number:'1.2-2'}}
            </div>
            <div class="col ml-1">
                {{score.date|date:'short'}}
            </div>
        </div>
    </div>
</mat-expansion-panel>
