<table class=" table table-sm ">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="2" class="text-center">Zdolności</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Zdolność</th>
            <th>Opis</th>
        </tr>
        <tr>
            <td>Taniec</td>
            <td>Bohaterowie z tą umiejętnością potrafią wyjątkowo dobrze tańczyć - zarówno klasycznie, jak i nowocześnie lub na oba sposoby. Dodają modyfikator +10% do testów zatrudnienia lub improwizacji, gdy szukają pracy jako osoby dostarczające rozrywki,
                czy gdy postanawiają wystąpić na ulicy.</td>
        </tr>
        <tr>
            <td>Stolarstwo </td>
            <td>Stolarze potrafią obrabiać drzewo i budować przedmioty takie jak meble, wyposażenie domów, skrzynie, wozy i temu podobne. Znają narzędzia, służące do pracy w drewnie, odpowiednie techniki i rodzaje budulca. Bohaterowie z tą umiejętnością posiadają
                modyfikator +10% do wszystkich testów budowy, związanych z konstrukcjami drewnianymi.</td>
        </tr>
    </tbody>
</table>
