<div class="container bohater text-center  p-0 m-0" *ngIf="zdolnosciRasy.WW!==0">
    <div class="p-1 title"><b>Zdolności</b></div>

    <div class="border-bottom border-dark cursorDefault">
        <div class="row ">
            <div class="col-sm-3 ml-1"><b>Zdolność</b></div>
            <div class="col-sm ml-1"><b>Opis</b></div>
        </div>
    </div>
    <div class="border-bottom " *ngFor="let schemat of zdolnosciRasy.zdolnosci">
        <div class="row cursorDefault">
            <div class="col-sm-3 ml-1">{{schemat[0].zdolnosc}}</div>
            <div class="col-sm ml-1">{{schemat[0].opis}}</div>

        </div>
    </div>
    <div *ngFor="let schemat of zdolnosciRasy.wyborZdolnosciRasy let i=index">
        <div *ngIf="zdolnosciRasy.wyborZdolnosciRasy[i][0]!== undefined">
            <div class="border-bottom">
                <div class=" text-center pick-one-title"><b>Wybierz jedno</b></div>
            </div>
            <div class="border-bottom" *ngFor="let schemat of zdolnosciRasy.wyborZdolnosciRasy[i]">
                <button (click)="onWyborZdolnosciRasa(schemat, [i])" class="pick-one btn btn-sm p-0 m-0 container-fluid">
                    <div class="row">
                      <div class="col-sm-3 ml-1">{{schemat[0].zdolnosc}}</div>
                      <div class="col-sm ml-1">{{schemat[0].opis}}</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="border-bottom " *ngFor="let schemat of zdolnosciProfesji.zdolnosci">
        <div class="row">
            <div class="col-sm-3 ml-1">{{schemat[0].zdolnosc}}</div>
            <div class="col-sm ml-1">{{schemat[0].opis}}</div>

        </div>
    </div>
    <div *ngFor="let schemat of zdolnosciProfesji.wyborZdolnosciProfesji let i=index">
        <div *ngIf="zdolnosciProfesji.wyborZdolnosciProfesji[i][0]!== undefined">
            <div class="border-bottom">
                <div class=" text-center pick-one-title"><b>Wybierz jedno</b></div>
            </div>
            <div class="border-bottom" *ngFor="let schemat of zdolnosciProfesji.wyborZdolnosciProfesji[i]">
                <button (click)="onWyborZdolnosciProfesja(schemat, [i])" class="pick-one btn btn-sm p-0 m-0 container-fluid">
                  <div class="row">
                    <div class="col-sm-3 ml-1">{{schemat[0].zdolnosc}}</div>
                    <div class="col-sm ml-1">{{schemat[0].opis}}</div>
                  </div>
              </button>
            </div>
        </div>
    </div>
</div>