@import "~@ng-select/ng-select/themes/default.theme.css";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #e2eef7;
}

#outlet {
    width: 100%;
    position: relative;
}

p {
    font-weight: bold;
}


/*table*/

.table-striped {
    position: relative;
    font-size: 15px;
}


/*bohater*/

.bohater {
    font-size: 12px;
}

.colour1 {
    background-color: #f3f7fb;
}

.colour2 {
    background-color: #38515b;
    color: #f3f7fb;
}

.colour3 {
    background-color: #38515b
}

.colour4 {
    background-color: #25252a
}

.colour5 {
    background-color: #1b1716;
    color: #f3f7fb;
}


/*tooltip umiejetnosci i zdolnosci*/

.tooltip-class .tooltip-inner {
    font-size: 90%;
    max-width: 100%;
}