@import "~@ng-select/ng-select/themes/default.theme.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: url(assets/bg0.jpg) no-repeat center center fixed;
    background-size: cover;
    animation: bganimation infinite 20s;
}

@keyframes bganimation {
    0%,
    12% {
        background-image: url(/assets/bg0.jpg);
    }
    12%,
    37% {
        background-image: url(/assets/bg01.jpg);
    }
    37%,
    62% {
        background-image: url(/assets/bg02.jpg);
    }
    62%,
    87% {
        background-image: url(/assets/bg03.jpg);
    }
    87%,
    100% {
        background-image: url(/assets/bg0.jpg);
    }
}

#outlet {
    width: 100%;
    position: relative;
    background-color: #fcfbf87a;
}

.cursorDefault {
    cursor: default;
}


/*tytuł wątków*/

.title {
    background: #fcfbf8;
    background: radial-gradient(circle, #565254 0%, #fcfbf8 100%);
    color: #fcfbf8;
    cursor: default;
}


/*bohater*/

.bohater {
    font-size: 12px;
}

.profesja-opis {
    cursor: default;
    font-size: 12px;
}

.ng-select.custom .ng-select-container {
    min-height: 15px;
    border-radius: 10;
    color: #dbedf3;
    background-color: #404b69;
    border-color: #404b69;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: #283149;
    border-color: #283149;
    border-radius: 10;
    color: #dbedf3;
    padding: 8px 10px;
}


/*kontener cechy*/

.cechy-container {
    color: #565254;
    cursor: default;
}


/*cechy tabela*/

.cechy-custom :hover {
    background: #FFFFFF;
}


/*umiejetnosci i zdolnosci wybory*/

.pick-one-title {
    background: #54596F;
    background: radial-gradient(circle, #54596F 20%, #fcfbf8 80%);
    color: #fcfbf8;
    cursor: default;
}

.pick-one {
    background: #54596F;
    color: #fcfbf8;
    cursor: default;
}

.pick-one:hover {
    background: #fcfbf8;
    color: #54596F;
    cursor: default;
}


/*tooltip umiejetnosci i zdolnosci*/

.tooltip-class .tooltip-inner {
    font-size: 90%;
    max-width: 100%;
}


/*footer*/

.footer {
    position: fixed;
    right: 0;
    bottom: 50%;
}


/*footer ends*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fcfbf8;
}

.mat-button {
    width: 100%;
}

.full-width {
    width: 100%;
}
