@import "~@ng-select/ng-select/themes/default.theme.css";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #e2eef7;
}

#outlet {
    width: 100%;
    position: relative;
}

p {
    font-weight: bold;
}


/*table*/

.table-striped {
    position: relative;
    font-size: 15px;
}


/*bohater*/

.bohater {
    font-size: 12px;
}
